.header {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  padding-top: 34px;
  padding-bottom: 21px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__logo {
  vertical-align: middle;
}
.header__nav__list {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.header__nav__list__items-links {
  color: var(--dimgrey);
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  text-decoration: none;
}
.header__nav__list__items-links:hover {
  cursor: pointer;
  color: var(--yellow);
}
.header__nav__btn {
  background-color: var(--yellow);
  width: 170px;
  height: 53px;
  color: #FFF;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  border: 1px solid;
}
.header__nav__btn:hover {
  border: 3px solid var(--yellow);
  color: var(--yellow);
  background-color: transparent;
  cursor: pointer;
}

.hero {
  width: 100%;
  margin-bottom: 100px;
  background-image: url(../../images/Bitmap\ \(2\)\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
}
.hero__wrap {
  display: flex;
  flex-direction: column;
  padding-top: 153px;
  padding-bottom: 152px;
  position: relative;
}
.hero__wrap__card {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hero__wrap__card__title {
  width: 500px;
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  margin-bottom: 40px;
}
.hero__wrap__card__text {
  width: 405px;
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
  margin-left: 95px;
}
.hero__wrap__card__btn {
  background: var(--yellow);
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  border: none;
  padding: 14px 39px;
  margin-left: 95px;
}
.hero__wrap__card__btn:hover {
  color: var(--yellow);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  border: 3px solid var(--yellow);
  background-color: unset;
  transition: 0.5s linear;
  padding: 11px 36px;
}
.hero__img-first {
  position: absolute;
  top: 348px;
  left: -166px;
}
.hero__img-second {
  position: absolute;
  top: 348px;
  left: 540px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }
  .hero {
    width: 768px;
    background-image: url(../../images/tablet__bg.jpg);
    background-size: cover;
  }
  .hero__wrap {
    width: 768px;
    padding-bottom: 217px;
  }
  .hero__wrap__card {
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__wrap__card__text {
    padding: 0;
    margin: 0 0 32px 0;
  }
  .hero__wrap__card__btn {
    margin: 0;
  }
  .hero__img-first {
    display: none;
  }
  .hero__img-second {
    left: -80px;
    top: 500px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 32px;
  }
  .hero {
    width: 375px;
    background-image: url(../../images/mobile__bg.png);
    background-size: cover;
  }
  .hero__wrap {
    width: 375px;
    padding-bottom: 217px;
  }
  .hero__wrap__card {
    width: 311px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__wrap__card__title {
    width: 311px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.786px;
  }
  .hero__wrap__card__text {
    width: 311px;
    padding: 0;
    margin: 0 0 32px 0;
    color: #fff;
    text-align: center;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .hero__wrap__card__btn {
    margin: 0;
  }
  .hero__img-first {
    display: none;
  }
  .hero__img-second {
    display: none;
  }
}
.offer {
  padding-top: 160px;
}
.offer__wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  position: relative;
}
.offer__wrap__img {
  position: absolute;
  top: 44px;
  z-index: 1;
  left: -170px;
}
.offer__wrap__cards {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.offer__wrap__cards__img {
  margin-bottom: 40px;
  z-index: 4;
}
.offer__wrap__cards__head {
  color: #495567;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.071px;
  margin-bottom: 27px;
}
.offer__wrap__cards__text {
  color: var(--dimgrey);
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 360px;
}

@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 32px;
  }
  .offer {
    width: 375px;
  }
  .offer__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .offer__wrap__cards {
    text-align: center;
  }
  .offer__wrap__cards__head {
    width: 311px;
  }
  .offer__wrap__cards__text {
    width: 311px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .offer__wrap__cards__img {
    width: 56px;
    margin-left: 12px;
    margin-bottom: 24px;
  }
  .offer__wrap__img {
    display: none;
  }
}
.service {
  width: 100%;
  padding-top: 200px;
}
.service__btn {
  background: var(--yellow);
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 14px 43.5px;
  border: none;
}
.service__btn:hover {
  color: var(--yellow);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  background-color: unset;
  border: 3px solid;
  transition: 0.5s linear;
}
.service__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service__first {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
}
.service__first__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.service__first__left__head {
  color: var(--dimgrey);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.143px;
  width: 445px;
  margin-bottom: 24px;
}
.service__first__left__text {
  color: var(--dimgrey);
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 445px;
  margin-bottom: 40px;
}
.service__first__right {
  position: relative;
}
.service__first__right__img {
  position: absolute;
  right: -165px;
  top: 290px;
}
.service__first__img {
  position: absolute;
  right: -165px;
  top: 70px;
}
.service__second {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}
.service__second__left {
  position: relative;
}
.service__second__left__img {
  position: absolute;
  left: -165px;
}
.service__last-first {
  margin-bottom: 200px;
}

@media only screen and (max-width: 768px) {
  .service img {
    width: 445px;
  }
  .container {
    max-width: 375px;
    padding: 0 32px;
  }
  .service {
    width: 375px;
  }
  .service__last-first {
    margin-bottom: 120px;
  }
  .service__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__first {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .service__first__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__first__left__head {
    width: 475px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.429px;
  }
  .service__first__left__text {
    width: 573px;
  }
  .service__first__left__img {
    margin-bottom: 56px;
  }
  .service__first__left__img-sec {
    margin-bottom: 56px;
  }
  .service__first__img {
    display: none;
  }
  .service__first__right__img {
    display: none;
  }
  .service__img {
    display: none;
  }
  .service__second {
    display: flex;
    flex-direction: column;
  }
  .service__second__img {
    margin-bottom: 56px;
  }
  .service__second__left__img {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  img {
    width: 311px;
  }
  .container {
    max-width: 375px;
    padding: 0 32px;
  }
  .service {
    width: 375px;
  }
  .service__last-first {
    margin-bottom: 120px;
  }
  .service__wrapper {
    text-align: center;
  }
  .service__first {
    display: flex;
    flex-direction: column-reverse;
  }
  .service__first__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__first__left__head {
    width: 311px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.429px;
  }
  .service__first__left__text {
    width: 311px;
  }
  .service__first__left__img {
    margin-bottom: 56px;
  }
  .service__first__left__img-sec {
    margin-bottom: 56px;
  }
  .service__first__img {
    display: none;
  }
  .service__first__right__img {
    display: none;
  }
  .service__img {
    display: none;
  }
  .service__second {
    display: flex;
    flex-direction: column;
  }
  .service__second__img {
    margin-bottom: 56px;
  }
  .service__second__left__img {
    display: none;
  }
}
.footer {
  width: 1440px;
  margin: 0 auto;
}
.footer__wrapper {
  background-image: url(../../images/Mask.png);
  background-repeat: no-repeat;
  background-size: 1440px;
  background-position: center;
  padding-top: 102px;
  padding-bottom: 102px;
}
.footer__wrapper__first {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper__first__right {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer__wrapper__first__head {
  width: 415px;
  font-family: Space Mono;
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -2.143px;
}
.footer__wrapper__app-store {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 9px 16px;
  gap: 11px;
}
.footer__wrapper__btn {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__wrapper__play-market {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 9px 16px;
  gap: 11px;
}
.footer__span {
  color: var(--darknavy);
  font-family: Space Mono;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.446px;
}
.footer__text {
  font-family: Space Mono;
  color: var(--darknavy);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.893px;
}
.footer__card {
  width: 1440px;
  margin: 0 auto;
  background-color: #333a44;
  padding-top: 35px;
  padding-bottom: 33px;
}
.footer__card__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__card__list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer__card__logo {
  margin-right: 16px;
}
.footer__card__link {
  color: var(--dimgrey);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  font-family: Space Mono;
  text-decoration: none;
}
.footer__card__link:hover {
  color: var(--yellow);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.footer__card__social-media {
  cursor: pointer;
}/*# sourceMappingURL=blocks-all.css.map */